**/*.svg
.dockerignore
.DS_Store
.eslintignore
*.png
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
dist
contracts/supabase-consumer-manifest.v3.json
contracts/supabase-consumer-manifest.v3.schema.json
